$color-1: #21C2F8;
$color-2: #FFF;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: 50px;
    padding-left: 50px;
}  


.row{
    display: flex;

    .btn{
        margin-right: 30px;

        &:last-child{
            margin-right: 0;
        }
    }
}

.btn{
    background-color: $color-1;
    width: 270px;
    height: 80px;
    color: $color-2;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    border: none;
    letter-spacing: 0.2px;
    border-radius: 3px;

    &.b7{
        border-radius: 7px;
    }
     
    &.b12{
        border-radius: 12px;
    }

    &.b20{
        border-radius: 20px;
    }
}