$color-1: #21C2F8;
$color-2: #FFF;
$color-3: #222533;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: 50px;
    padding-left: 50px;
}  

.row{
    display: flex;
    align-items: flex-end;

    .btn{
        margin-right: 30px;

        &:last-child{
            margin-right: 0;
        }
    }
}

.btn{
    background-color: $color-1;
    padding: 11px 36.1px 11px 36.2px;
    color: $color-2;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 14px;
    border: none;
    letter-spacing: 0.2px;

    &:hover{
        background-color: $color-3;
        cursor: pointer;
    }

    &.medium{
        padding: 14px 47px;
        font-size: 18px;
    }
     
    &.large{
        padding: 23px 93px;
        font-size: 26px;
    }

    &.x-large{
        padding: 27px 100px 27px 102px;
        font-size: 36px;
    }
}