@import 'size';

.btn {
    padding: 20px 40px 20px 40px;
    border: none;
    background-color: color(1);
    color: color(0);
    font-family: 'Lato Black', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;

    &.medium {
        padding: 30px 50px 30px 50px;
    }

    &.large {
        padding: 35px 70px 35px 70px;
    }

    &.x-large {
        padding: 40px 80px 40px 80px;
    }

    &.radius-5 {
        border-radius: 5px;
    }

    &.radius-7 {
        border-radius: 7px;
    }

    &.radius-12 {
        border-radius: 12px;
    }

    &.radius-17 {
        border-radius: 17px;
    }

    &.color1 {
        background-color: color(1);
    }

    &.color2 {
        background-color: color(2);
    }

    &.color3 {
        background-color: color(3);
    }

    &.color4 {
        background-color: color(4);
    }

    &.color5 {
        background-color: color(5);
    }

    &.color6 {
        background-color: color(6);
    }

    &.color7 {
        background-color: color(7);
    }

    &.color8 {
        background-color: color(8);
    }
}

.row {
    display: flex;
    align-items: flex-end;

    .btn {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}
